<div ng-controller="StaffRegistrationController" ng-init="showalerts=0;staff.country='India';staff.state='Maharashtra';">
	<div class="modal-header" style="background-color: #43a1da;">
		<button type="button" class="close" ng-click="cancel()">×</button>
		<h3 style="color: #ffffff;">Add Staff</h3>
	</div>
	<form class="form-horizontal" name="registerStaff" ng-submit="addStaff(staff)">
		<div class="modal-body" style="overflow-y:scroll">
			<div class="box-content alerts" ng-show="errorMessage!=null">
				<div class="alert alert-info">
					<button type="button" class="close" data-dismiss="alert">×</button>
					<strong> Heads up!</strong> {{$errorMessage}}
				</div>
			</div>
		
			<fieldset>
				<div class="control-group">
					<label class="control-label" for="selectError3">Academic Year</label>
					<div class="controls">
						<select id="selectError3" ng-model="staff.acedemicYearID">
							<option ng-repeat="year in academicDetails" value="">{{year.academicYear}}</option>
						</select>
					</div>
				</div>
				<!-- <div class="control-group">
					<label class="control-label" for="focusedInput">Reg No</label>
					<div class="controls">
						<span class="input-xlarge uneditable-input">101</span>
					</div>
				</div> -->
				<div class="control-group">
					<label class="control-label" for="focusedInput">Reg Date</label>
					<div class="controls">
						<input class="input-xlarge focused" id="appendedInputButton" type="date" style="height:26px" ng-model="staff.regDate" x-moz-errormessage="Select registration date" required>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="selectError3">Staff Role</label>
					<div class="controls">
						<select id="selectError3" ng-model="staff.staffRole" x-moz-errormessage="Select staff role" required>
						    <option value=""></option>
							<option>Principal</option>
							<option>Music Teacher</option>
							<option>Sport Teacher</option>
						</select>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="selectError3">Is Teacher</label>
					<div class="controls">
						<select id="selectError3" ng-model="staff.isTeacher">
							<option>Yes</option>
							<option>No</option>
						</select>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="focusedInput">First Name</label>
					<div class="controls">
						<input class="input-xlarge focused" name="Name" ng-model="staff.firstName" id="focusedInput" type="text" style="height:26px" pattern="[A-Za-z]+" title="Please enter valid name" required>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="focusedInput">Middle Name</label>
					<div class="controls">
						<input class="input-xlarge focused" name="Name" ng-model="staff.middleName" id="focusedInput" type="text" style="height:26px" pattern="[A-Za-z]+" title="Please enter valid name" required>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="focusedInput">Last Name</label>
					<div class="controls">
						<input class="input-xlarge focused" name="Name" ng-model="staff.lastName" id="focusedInput" type="text" style="height:26px" pattern="[A-Za-z]+" title="Please enter valid name" required>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="focusedInput">Date of Joining</label>
					<div class="controls">
						<input class="input-xlarge focused" id="appendedInputButton" type="date" style="height:26px" ng-model="staff.dateOfJoining" ng-required="true">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="focusedInput">Date of Birth</label>
					<div class="controls">
						<input class="input-xlarge focused" id="appendedInputButton" type="date" style="height:26px" ng-model="staff.dateOfBirth" ng-required="true">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="selectError3">Select Gender</label>
					<div class="controls">
						<select id="selectError3" ng-model="staff.gender">
							<option>Male</option>
							<option>Female</option>
						</select>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="selectError3">Marital Status</label>
					<div class="controls">
						<select id="selectError3" ng-model="staff.maritalStatus">
							<option>Married</option>
							<option>Un-Married</option>
						</select>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Religion</label>
					<div class="controls">
						<input type="text" style="height:26px" pattern="[A-Za-z]+" ng-model="staff.religion" required>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Caste</label>
					<div class="controls">
						<input type="text" style="height:26px" pattern="[A-Za-z]+" ng-model="staff.caste" required>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Qualification</label>
					<div class="controls">
						<input type="text" style="height:26px" pattern="[A-Za-z]+" ng-model="staff.qualification" required>
					</div>
				</div><!-- 
				<div class="control-group">
					<label class="control-label">Photo</label>
					<div class="controls">
						<input type="file" name="staffImage" id="staffImage" style="height:26px" name="image" ng-model="staff.photo" required>
					</div>
				</div> -->
				<div class="control-group">
					<label class="control-label">Previous School Name</label>
					<div class="controls">
						<input type="text" style="height:26px" pattern="[A-Za-z]+" ng-model="staff.previousSchool" required>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Email</label>
					<div class="controls">
						<input type="email" placeholder="prasad@gmail.com" style="height:26px" ng-model="staff.emailId" required>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Mobile</label>
					<div class="controls">
						<input type="text" style="height:26px" pattern="[0-9]{10}" ng-model="staff.mobileNumber" required>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Country</label>
					<div class="controls">
						<input type="text" style="height:26px" pattern="[A-Za-z]+" ng-model="staff.country" required>
					</div>
				</div>	
				<div class="control-group">
					<label class="control-label">State</label>
					<div class="controls">
						<input type="text" style="height:26px" pattern="[A-Za-z]+" ng-model="staff.state" required>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">City</label>
					<div class="controls">
						<input type="text" style="height:26px" pattern="[A-Za-z\s]+" ng-model="staff.city" required>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Permanent Address</label>
					<div class="controls">
						<textarea name="Address" ng-model="staff.permanentAddress" required></textarea>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Correspondance Address</label>
					<div class="controls">
						<textarea name="Address" ng-model="staff.correspondenceAddress" required></textarea>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Pincode</label>
					<div class="controls">
						<input type="text" name="Pincode" style="height:26px" pattern="[0-9]{6}" ng-model="staff.pincode" required>
					</div>
				</div>			
			</fieldset>
		</div>
		<div class="modal-footer" style="background-color: #ffffff;">
			<!--<button class="btn" ng-click="cancel()">Close</button>-->
			<button type="submit" class="btn btn-primary">Save</button>
		</div>
	</form>
</div>