<div>
	<div class="sortable row-fluid">
		<a data-rel="tooltip" title="6 new members." class="well span3 top-block" href="#">
			<img src="app/img/student.png" style="height:72px;width:72px" />
			<div>Student Registration</div>
		</a>
				
		<a data-rel="tooltip" title="4 new pro members." class="well span3 top-block" href="#">
			<img src="app/img/teacher.png" />
			<div>Staff Registration</div>
		</a>
	
		<a data-rel="tooltip" title="$34 new sales." class="well span3 top-block" href="#">
			<img src="app/img/logout-icon.png" />
			<div>Logout</div>
		</a>
					
		<a data-rel="tooltip" title="12 new messages." class="well span3 top-block" href="#">
			<img src="app/img/logout-icon.png" />
			<div>Messages</div>
		</a>
	</div>
</div>

	
