<div class="row-fluid sortable" ng-controller="StaffRegistrationController">		
	<div class="box span12">
		<div class="box-header well" data-original-title style="cursor:default;">
			<h2><i class="icon-user"></i> Staff Registration</h2>
		</div>
		<div class="box-content">
			<hr>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Reg No.</th>
						<th>Name</th>
						<th>Contact No</th>
						<th>Email ID</th>
						<th>Address</th>						
						<th></th>
					</tr>
				</thead>   
				<tbody>
					<tr ng-repeat="staff in staffDetails">
						<td>{{$index+1}}</td>
						<td>{{staff.firstName}} {{staff.middleName}} {{staff.lastName}}</td>
						<td class="center">{{staff.mobileNumber}}</td>
						<td class="center">{{staff.emailId}}</td>
						<td class="center">{{staff.correspondenceAddress}}</td>
						<!-- <td class="center">
							<span class="dropdown" dropdown on-toggle="toggled(open)">
								<a href class="dropdown-toggle" dropdown-toggle><i class="icon icon-black icon-triangle-s"></i></a> 
								<ul class="dropdown-menu" style="margin-left:-69px;min-width: 85px;">
									<li>
										<a href>Edit</a>
										<a href>Delete</a>
									</li>
								</ul>
							</span>	
						</td> -->
					</tr>
				</tbody>
			</table>  
		</div>
	</div>
</div>