<div class="row-fluid sortable">
	<div class="box span7">
		<div class="box-header well" data-original-title style="cursor: default;">
			<h2><i class="icon-bell"></i> Notifications</h2>
		</div>
		<div class="box-content">
			
		</div>	
	</div>
	<div class="box span5">
		<div class="box-header well" style="cursor: default;">
			<h2><i class="icon-bullhorn"></i> Alerts</h2>
		</div>
		<div class="box-content alerts">
			<center><img src="app/img/user-avatar.jpg"></center>
			<table class="table table-striped">
				<tbody>
					<tr>
						<td>Name </td>
						<td class="center">Prasad Sharad Khegade</td>              
					</tr>
					<tr>
						<td>Date of Birth</td>
						<td class="center">2012/02/01</td>				                                     
					</tr>
					<tr>
						<td>Address</td>
						<td class="center">Pune</td>
					</tr>                          
				</tbody>
			</table>  
		</div>	
	</div>
</div>